h1 {
  font-family: 'Barrio', cursive;
  text-align: center;
}

table{
  margin: auto;

}
td {
  width: 150px;
  height: 300px;
  border: 5px solid white;
}

#t1 {
  background-color: #d7f2ba;
}

#t2 {
  background-color: #bde4a8;
}

#t3 {
  background-color: #9cc69b;
}

#t4 {
  background-color: #79b4a9;
}

#t5 {
  background-color: #676f54;
}
