body {
  background-color: #002233;
  margin: auto;
  font-family: cursive;
}

#submit {
  background-color: #ff944d;
  color: white;
  width: 100px;
  height: 75px;
  border-radius: 10px;
  color: black;
}

#container {
  text-align: center;
  color: white;
  border-left: 40px solid #0099cc;
  border-right: 40px solid #0099cc;
  border-bottom: 40px solid #0099cc;
}

.lorem {
  padding: 10px 50px 10px 50px;
}
