<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Users</title>
  </head>
  <body>
    <h1>Here are your Users:</h1>
    {% if fake_users %}
    <ol>
    {% for i in fake_users %}
      <li>User Info:</li>
        <ul>
          <li>First Name: {{ i.first_name }}</li>
          <li>Last name: {{ i.last_name }}</li>
          <li>Email: {{ i.email }}</li>
        </ul>
    {% endfor %}
    </ol>
    {% else %}
    <p>No Users Found.</p>
    {% endif %}
  </body>
</html>
